#header {
    margin-top: 1em;
}
.sidebar {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #D8D8D8;
    padding: 0px;
}
img.avatar {
    width: 69px;
    height: 69px;
    margin: 0 auto;
    display: block;
}
.side-nav li a:not(.button) {
    padding: 0px;
}
#applied-tags, .logout, .tabs {
    margin-top: 1em;
}
.tabs, .tabs-content {
    //display: block;
}
.hasChildren:before{
   content: "+";
   float: left;
}
.hasChildren.active:before{
   content: "-";
}
.tabs dd > a, .tabs .tab-title > a {
    padding: 0.5em;
}