#header {
    margin-top: 1em;
}
#header p, #delete_repository p, #delete_tag p {
    text-align: center;
}
.sidebar {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #D8D8D8;
    padding: 0.25em;
}
img.avatar {
    width: 69px;
    height: 69px;
    margin: 0 auto;
    display: block;
}
[class*="block-grid-"] > li {
    padding: 0px;
}
.side-nav li a:not(.button) {
    padding: 0px;
}
.logout, .tabs {
    margin-top: 1em;
}
.tabs dd > a, .tabs .tab-title > a {
    padding: 0.5em;
}
.cal-heatmap-container {
    margin: 1em;
}
.columns.end small {
    float: right;
}
.button {
    margin-bottom: 0px;
}
.applied-tags {
    margin-bottom: 1em;
}