#login {
    margin-top: 5em;
}
form {
    margin-bottom: 0px;
}
#add_user_link {
    float: right;
    margin-top: -2em;
}
#header p, #delete_repository p, #delete_tag p, #footer p {
    text-align: center;
}
.sidebar {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #D8D8D8;
    padding: 0.25em;
}
img.avatar {
    width: 69px;
    height: 69px;
    margin: 0 auto;
    display: block;
}
[class*="block-grid-"] > li {
    padding: 0px;
}
.side-nav li a:not(.button) {
    padding: 0px;
}
.logout, .tabs {
    margin-top: 1em;
}
.tabs dd > a, .tabs .tab-title > a {
    padding: 0.5em;
}
.cal-heatmap-container {
    margin: 1em;
}
.columns.end small {
    float: right;
}
.button {
    margin-bottom: 0px;
}
.applied-tags {
    margin-bottom: 1em;
}
input[type=file] {
    position: absolute;
    right: 0;
    bottom: 16px;
    top: 0;
    cursor: pointer;
    opacity: 0;
    font-size: 40px;
}
#outside {
    background-color: #516581;
}
#user-settings {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}
.dropdown.button::after, button.dropdown::after {
    content: none;
}
.alert-box {
    margin-bottom: 0px;
    margin-top: 1.25rem;
}