{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/css/cal-heatmap.css" />
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.js"></script>
<script type="text/javascript" src="/js/raphael-min.js"></script>
<script type="text/javascript" src="/js/treemap-squarify.js"></script>
<script type="text/javascript" src="/js/treemap-raphael.js"></script>
<script type="text/javascript" src="/js/cal-heatmap.js"></script>
<script type="module" src="/js/git-heatmap.js"></script>
<script type="module" src="/js/git-treemap.js"></script>
{% endblock %}

{% block header %}
<i class="fa fa-line-chart"></i>
Overview
{% endblock %}

{% block body %}
  {% if current_user.repositories.count() == 0 %}
  <div class="row">
    <div class="columns small-12">
      <h3>Welcome to git-tracker!</h3>
      <p><a href="javascript:void(0);" data-reveal-id="add_repository">Add a repository</a> to get started.</p>
      <p>Or you can <a href="javascript:void(0);" data-reveal-id="add_tag">add tags</a>.</p>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="columns small-12">
      <div id="heatmap"
           data-url="{{ url_for('all_activity') }}"
           data-start="{{ first_updated }}"
           data-end="{{ last_updated }}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns small-12">
      <div id="treemap"
           data-tags='[{% for tag in current_user.tags %}{"tag": "{{ tag.name }}", "count": {{ tag.repositories.count() }} }{% if not loop.last %},{% endif %}{% endfor %}]'>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
