<!DOCTYPE html>
<html>
  <head>
    <title>git-tracker</title>
    <!-- js -->
    <script src="http://localhost:8081/skewer"></script>
    <script src="js/vendor/modernizr.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/foundation.css"></link>
  </head>
  <body>
    <div class="row" id="header">
      <div class="small-4 columns">
        &nbsp;
      </div>
      <div class="small-4 columns">
        <form action="{{ url_for('login') }}" method="post">
          <input type="text" placeholder="Email" name="email" value="{{ request.form.email }}">
          <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
          <input class="logout button tiny radius" type="submit" value="Login">
        </form>
        {% if error %}
        <div data-alert class="alert-box alert">
          {{ error }}
        </div>
        {% endif %}
      </div>
      <div class="small-4 columns">
        &nbsp;
      </div>
    </div>
  </body>
</html>
