<!DOCTYPE html>
<html>
  <head>
    <title>git-tracker</title>
    <!-- js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ramda/0.8.0/ramda.min.js"></script>
    <script src="https://google.github.io/traceur-compiler/bin/traceur.js"></script>
    <script src="https://google.github.io/traceur-compiler/src/bootstrap.js"></script>
    <script>
      traceur.options.experimental = true;
    </script>
    <script src="http://localhost:8081/skewer"></script>
    <script src="js/vendor/modernizr.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/foundation.css"></link>
  </head>
  <body>
    <div class="row" id="header">
      <div class="small-10 columns sidebar">
      </div>
      <div class="small-2 columns header">
        <a href="{{ url_for('login') }}" class="logout button tiny radius">Log in</a>
      </div>
    </div>
  </body>
</html>
