<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>git-tracker</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <link rel="stylesheet" href="/css/git-tracker.css" />
    {% block css %}{% endblock %}
    <!-- js -->
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/modernizr.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/foundation.reveal.js"></script>
    <script src="/js/foundation/foundation.alert.js"></script>
    <script src="/js/foundation/foundation.tab.js"></script>
    <script src="/js/foundation/foundation.dropdown.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/2.3.22/rx.all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs-jquery/1.1.6/rx.jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ramda/0.8.0/ramda.min.js"></script>
    <script src="https://google.github.io/traceur-compiler/bin/traceur.js"></script>
    <script src="https://google.github.io/traceur-compiler/src/bootstrap.js"></script>
    <script>
      traceur.options.experimental = true;
    </script>
    <script src="http://localhost:8081/skewer"></script>
    <!-- git-tracker global code -->
    <script type="module" src="/js/common.js"></script>
    <script type="module" src="/js/repository.js"></script>
    <script type="module" src="/js/tag.js"></script>
    {% block javascript %}{% endblock %}
  </head>
  <body>
    <div class="row" id="header">
      <div class="small-2 columns sidebar">
        <img src="{{ current_user.avatar_image }}" class="avatar" />
        <p><a href="{{ url_for('dashboard') }}">View Dashboard</a></p>
      </div>
      <div class="small-10 columns header">
        <div class="row">
          <div class="small-10 columns header">
            <h2>{% block header %}{% endblock %}</h2>
          </div>
          <div class="small-2 columns header">
            <button href="#" data-dropdown="userdrop" aria-controls="userdrop" aria-expanded="false" class="logout button tiny radius dropdown"><i class="fa fa-gears"></i> User Settings</button><br>
            <ul id="userdrop" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
              <li>
                <a href="#">
                  <i class="fa fa-user"></i> Account
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-envelope-square"></i> Emails
                </a>
              </li>
              <li>
                <a href="{{ url_for('logout') }}">
                  <i class="fa fa-sign-out"></i> Log out
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns sidebar">
        {% include "sidebar.html" %}
      </div>
      <div class="small-10 columns">{% block body %}{% endblock %}</div>
    </div>
    {% include "footer.html" %}
    <!-- js, redux -->
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
