<dl class="tabs" data-tab="">
  <dd class="{% if selection == 'repositories' %}active{% endif %}">
    <a href="#repositories">Repositories</a>
  </dd>
  <dd class="{% if selection == 'tags' %}active{% endif %}">
    <a href="#tags">Tags</a>
  </dd>
</dl>
<div class="tabs-content">
  <div class="content{% if selection == 'repositories' %} active{% endif %}" id="repositories">
    <ul class="side-nav no-bullet">
      {% for repository, branches in repositories %}
      <li {% if repository == current_selection.name %}class="active"{% endif %}>
        <a href="{{ url_for('view_repository', name=repository) }}">
          {{ repository }}
        </a>
        <ul class="expanded">
          {% for branch in branches %}
          <li>
            {{ branch }}
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="content{% if selection == 'tags' %} active{% endif %}" id="tags">
    <ul class="side-nav no-bullet">
      {% for tag, count in tags %}
      <li {% if tag == current_selection.name %}class="active"{% endif %}>
        <a href="{{ url_for('view_tag', slug=tag|slugify) }}">
          {{ tag }}
          <span class="label radius secondary">{{ count }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
