<dl class="tabs" data-tab="">
  <dd class="{% if selection == 'repositories' %}active{% endif %}">
    <a href="#repositories">Repositories</a>
  </dd>
  <dd class="{% if selection == 'tags' %}active{% endif %}">
    <a href="#tags">Tags</a>
  </dd>
</dl>
<div class="tabs-content">
  <div class="content{% if selection == 'repositories' %} active{% endif %}" id="repositories">
    <ul class="side-nav no-bullet">
      {% for repository in current_user.repositories %}
      <li {% if repository.name == current_selection %}class="active"{% endif %}>
        <a href="{{ url_for('view_repository', name=repository.name) }}">
          {{ repository.get_name() }}
        </a>
        {% if repository.name == current_selection %}
        <ul>
          {% for ref, date in repository.get_latest_refs(count=7) %}
          <li>{{ ref }}, {{ date|naturaltime }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    <a href="javascript:void(0);" data-reveal-id="add_repository" class="button tiny radius">
      <i class="fa fa-plus"></i> Add Repository
    </a>
    <div id="add_repository" class="reveal-modal medium" data-reveal>
      <h2><i class="fa fa-plus"></i> Add Repository</h2>
      <form action="{{ url_for('add_repository') }}" method="post">
        <input type="text" placeholder="Repository URI" name="repository" value="{{ request.form.repository }}">
        <input class="logout button tiny radius" type="submit" value="Save">
      </form>
      <a class="close-reveal-modal">&#215;</a>
    </div>
  </div>
  <div class="content{% if selection == 'tags' %} active{% endif %}" id="tags">
    <ul class="side-nav no-bullet">
      {% for tag in current_user.tags %}
      <li {% if tag.name == current_selection %}class="active"{% endif %}>
        <a href="{{ url_for('view_tag', slug=tag.slug) }}">
          {{ tag.name }}
          <span class="label radius secondary">{{ tag.repositories.count() }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
    <a href="javascript:void(0);" data-reveal-id="add_tag" class="button tiny radius">
      <i class="fa fa-plus"></i> Add Tag
    </a>
    <div id="add_tag" class="reveal-modal small" data-reveal>
      <h2><i class="fa fa-plus"></i> Add tag</h2>
      <form action="{{ url_for('add_tag') }}" method="post">
        <input type="text" placeholder="Tag Name" name="tag" value="{{ request.form.tag }}">
        <input class="logout button tiny radius" type="submit" value="Save">
      </form>
      <a class="close-reveal-modal">&#215;</a>
    </div>
  </div>
</div>
