{% extends "bare.html" %}

{% block body %}
<div class="small-3 columns">
  &nbsp;
</div>
<div id="user_add" class="small-6 columns panel radius">
  <h2><i class="fa fa-plus"></i> Create A New User</h2>
  <div data-alert class="alert-box warning round">
    Please make sure your uploaded ssh key is a machine key: e.g., it is not pass-phrase protected and has read-only access to your repositories.
  </div>
  <form id="create_user_form"
        enctype="multipart/form-data"
        action="{{ url_for('add_user') }}"
        method="post">
    <ul class="side-nav no-bullet small-block-grid-3">
      <div class="row">
        <div class="small-12 columns">
          <input type="text" placeholder="Email" name="email" value="{{ request.form.email }}"/>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}"/>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <input type="password" placeholder="Password (again)" name="password2" value="{{ request.form.password2 }}"/>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          Public Key
          <input id="public-key" type="file" placeholder="Public key" name="public-key" value="{{ request.form.public_key }}" />
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          Private Key
          <input id="private-key" type="file" placeholder="Private key" name="private-key" value="{{ request.form.private_key }}" />
        </div>
      </div>
    </ul>
    <input class="logout button tiny radius" type="submit" value="Add User">
  </form>
  {% if error %}
  <div data-alert class="alert-box alert">
    {{ error }}
  </div>
  {% endif %}
</div>
<div class="small-3 columns">
  &nbsp;
</div>
{% endblock %}
