{% extends "layout.html" %}

{% block header %}
<i class="fa fa-git-square"></i>
{{ name }} <small>{{ git_identifier }}/{{ git_sha1 }}</small>
{% endblock %}

{% block body %}
<div class="row">
  <div class="columns small-9">
    <p>View Repository {{ name }}</p>
    <p>Heat map and tree maps here</p>
  </div>
  <div class="columns small-3">
    <div id="applied-tags" class="panel radius">
      <h5>Applied Tags</h5>
      <ul class="side-nav no-bullet">
        {% for tag in repository_tags %}
        <li>
          <a href="{{ url_for('view_tag', slug=tag.slug) }}">
            <span class="label radius secondary">{{ tag.name }}</span> &#x2715;
          </a>
        </li>
        {% endfor %}
      </ul>
      <a href="" class="button tiny radius">Apply more tags</a>
    </div>
  </div>
</div>
{% endblock %}
