{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/css/cal-heatmap.css" />
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.js"></script>
<script type="text/javascript" src="/js/cal-heatmap.js"></script>
<script type="module" src="/js/git-heatmap.js"></script>
{% endblock %}

{% block header %}
{% if repository.kind == "GITHUB" %}
  <i class="fa fa-git-square"></i>
{% elif repository.kind == "BITBUCKET" %}
  <i class="fa fa-bitbucket-square"></i>
{% else %}
  <i class="fa fa-github-square"></i>
{% endif %}
{{ repository.get_name() }} <small>{{ git_identifier }}/{{ git_sha1 }}</small>
{% endblock %}

{% block body %}
<div class="row">
  <div class="columns small-9">
    <div class="row">
      <div class="columns small-12">
        <div id="heatmap"
             data-url="{{ url_for('repository_activity', name=repository.name ) }}"
             data-start="{{ repository.get_first_updated() }}"
             data-end="{{ repository.get_last_updated() }}">
        </div>
      </div>
    </div>
    <table role="data">
      <thead>
        <tr>
          <th width="200">Date</th>
          <th>Author</th>
          <th>Message</th>
          <th width="200">Files</th>
          <th width="150">+</th>
          <th width="150">-</th>
        </tr>
      </thead>
      <tbody>
        {% for commit in repository.get_commits(count=10) %}
        <tr>
          <td>{{ commit.commit_time|naturaltime }}</td>
          <td>{{ commit.author.name }}</td>
          <td>{{ commit.message|truncate(25, True) }}</td>
          {% with changed_files, additions, deletions = repository.get_numstat(commit) %}
          <td>{{ changed_files }}</td>
          <td>{{ additions }}</td>
          <td>{{ deletions }}</td>
          {% endwith %}
        </tr>
        {% else %}
        <tr>
          <td>Empty!</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="columns small-3">
    <div id="applied-tags" class="panel radius">
      <a href="javascript:void(0);" data-reveal-id="fetch_repository" class="button tiny radius">
        <i class="fa fa-refresh"></i> Fetch Repository
      </a>
      <div id="fetch_repository"
           data-url="{{ url_for('refresh_repository', name=repository.name) }}"
           class="reveal-modal small"
           data-reveal>
        <h2><i class="temporary fa fa-refresh fa-spin"></i> Fetching...</h2>
        <a class="close-reveal-modal">&#215;</a>
      </div>
    </div>
  </div>
  <div class="columns small-3">
    <div id="applied-tags" class="panel radius">
      <h5>Tagged as</h5>
        {% for tag in repository.tags %}
          <a href="{{ url_for('view_tag', slug=tag.slug) }}">
            <span class="label radius secondary">{{ tag.name }}</span>
          </a>
        {% else %}
          None.
        {% endfor %}
      <a href="javascript:void(0);" data-reveal-id="apply_tags" class="button tiny radius">
        <i class="fa fa-check-square-o"></i> Apply tags
      </a>
      <div id="apply_tags" class="reveal-modal large" data-reveal>
        <h2><i class="fa fa-plus"></i> Apply tags</h2>
        <form id="apply_tags_form"
              action="{{ url_for('apply_tags', repository_name=repository.name) }}"
              method="post">
          <ul class="side-nav no-bullet small-block-grid-3">
          {% for tag in tags %}
            <li>
              <input id="apply-{{ tag.slug }}"
                     name="apply-{{ tag.slug }}"
                     type="checkbox"
                     {% if tag in repository.tags %}checked="checked"{% endif %}>
              <label for="apply-{{ tag.slug }}">{{ tag.name }}</label>
            </li>
          {% endfor %}
          </ul>
          <input class="logout button tiny radius" type="submit" value="Save">
        </form>
        <a class="close-reveal-modal">&#215;</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="columns small-9">
    &nbsp;
  </div>
  <div class="columns small-3">
    <small><i class="fa fa-trash"></i>
      <a href="{{ url_for('delete_repository', name=repository.name) }}">
        Delete repository statistics
      </a>
    </small>
  </div>
</div>
{% endblock %}
