{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/css/cal-heatmap.css" />
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.js"></script>
<script type="text/javascript" src="/js/cal-heatmap.js"></script>
<script type="module" src="/js/git-heatmap.js"></script>
{% endblock %}

{% block header %}
<i class="fa fa-tag"></i>
{{ tag.name }} <span class="label radius secondary">{{ tag.repositories.count() }}</span>
{% endblock %}

{% block body %}
<div class="row">
  <div class="columns small-12">
    <div id="heatmap"
         data-url="{{ url_for('tag_activity', slug=tag.slug) }}"
         data-start="{{ first_updated }}"
         data-end="{{ last_updated }}">
    </div>
  </div>
</div>
<div class="row">
  <div class="columns small-12">
    <table role="data">
      <thead>
        <tr>
          <th width="200">Date</th>
          <th>Repository</th>
          <th width="200">Commits</th>
          <th width="200">Files</th>
          <th width="150">Lines</th>
          <th width="150">Authors</th>
        </tr>
      </thead>
      <tbody>
        {% for repository in tag.repositories %}
        <tr>
          <td>{{ repository.get_last_updated()|naturaltime }}</td>
          <td>{{ repository.get_name() }}</td>
          <td>{{ repository.get_commit_count() }}</td>
          <td>{{ repository.get_file_count() }}</td>
          <td>{{ repository.get_line_count() }}</td>
          <td>{{ repository.get_author_count() }}</td>
        </tr>
        {% else %}
        <tr>
          <td colspan="6">Empty!</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="columns small-9">
    &nbsp;
  </div>
  <div class="columns small-3">
    <small><i class="fa fa-trash"></i>
      <a href="{{ url_for('delete_tag', slug=tag.slug) }}">
        Delete tag
      </a>
    </small>
  </div>
</div>
{% endblock %}
