{% extends "layout.html" %}

{% block header %}
{% if repository.kind == "GITHUB" %}
  <i class="fa fa-git-square"></i>
{% elif repository.kind == "BITBUCKET" %}
  <i class="fa fa-bitbucket-square"></i>
{% else %}
  <i class="fa fa-github-square"></i>
{% endif %}
{{ repository.get_name() }} <small>{{ git_identifier }}/{{ git_sha1 }}</small>
{% endblock %}

{% block body %}
<div class="row">
  <div class="columns small-9">
    <p>View Repository {{ repository.get_name() }}</p>
    <p>Heat map and tree maps here</p>

    <table role="data">
      <thead>
        <tr>
          <th width="200">Date</th>
          <th>Author</th>
          <th>Message</th>
          <th width="200">Files</th>
          <th width="150">+</th>
          <th width="150">-</th>
        </tr>
      </thead>
      <tbody>
        {% for commit in repository.get_commits(count=10) %}
        <tr>
          <td>{{ commit.commit_time|naturaltime }}</td>
          <td>{{ commit.author.name }}</td>
          <td>{{ commit.message|truncate(25, True) }}</td>
          {% with changed_files, additions, deletions = repository.get_numstat(commit) %}
          <td>{{ changed_files }}</td>
          <td>{{ additions }}</td>
          <td>{{ deletions }}</td>
          {% endwith %}
        </tr>
        {% else %}
        <tr>
          <td>Empty!</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
  <div class="columns small-3">
    <div id="applied-tags" class="panel radius">
      <h5>Applied Tags</h5>
      <ul class="side-nav no-bullet">
        {% for tag in repository.tags %}
        <li>
          <a href="{{ url_for('view_tag', slug=tag.slug) }}">
            <span class="label radius secondary">{{ tag.name }}</span> &#x2715;
          </a>
        </li>
        {% else %}
        None.
        {% endfor %}
      </ul>
      <a href="" class="button tiny radius">
        <i class="fa fa-check-square-o"></i> Apply more tags
      </a>
    </div>
  </div>
</div>
{% endblock %}
